* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
 

}

body {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* Header */

.hero {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url('../public/header-dogs.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  button:not(:disabled) {
    cursor: none;
  }

}

.gradient {
  background: linear-gradient(180deg, #FFF 38.02%, rgba(255, 255, 255, 0.90) 54.69%, rgba(255, 255, 255, 0.20) 100%);
  width: -webkit-fill-available;
  height: 100vh;

}

.header-title {
  color: #263238;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  line-height: 106.9%;

}

.header-p {
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.329px;
}

.header-btn {
  background: #2EC5B6;
  border-radius: 5px;
  border: none;
  cursor: not-allowed;


}

/* Navbar */
.login-btn {
  font-family: Raleway;
  font-weight: 600;
}

.navbar {
  background: #EEE;
}

/* Main */

.btn-orange {
  background-color: #FB7043;
  border-radius: 10px;
  color: #FFF;
  border: none;
  padding: 10px 30px;
  font-family: Raleway;
  font-weight: 700;
}

.btn-outline {
  border-radius: 10px;
  border: 2.743px solid #2EC5B6;
  background-color: #FFF;
  padding: 10px 30px;
  color: #008F80;
  font-family: Raleway;
  font-weight: 700;

}

main {
  overflow-x: hidden !important;
}



/* Tab */


.nav-underline {
  background: #2EC5B6;
}

.section-title {
  color: #2EC5B6;
  font-family: Nunito;
  font-weight: 700;
  text-align: center;
}

.nav-link {
  color: #EEE;
  font-family: Raleway;
  font-weight: 700;
}


.adopter {
  background-position: center;
  background-image: url('../public/adopter-steps.png');
  background-repeat: no-repeat;
  height: 1080px;
  background-size: 800px;
  background-color: #EEEEEE;

}

.rescuer {
  background-position: center;
  background-image: url('../public/rescuer-steps.png');
  background-repeat: no-repeat;
  height: 1080px;
  background-size: 800px;
  background-color: #EEEEEE;

}

@media (max-width: 700px) {
  .adopter {
    background-position: center;
    background-image: url('../public/adopter-steps-mobile.png');
    background-repeat: no-repeat;
    height: 500px;
    background-size: 300px;
    background-color: #EEEEEE;

  }

  .rescuer {
    background-position: center;
    background-image: url('../public/rescuer-steps-mobile.png');
    background-repeat: no-repeat;
    height: 500px;
    background-size: 300px;
    background-color: #EEEEEE;

  }
}

/* Cards */

.section-title {
  font-family: Nunito;
  font-weight: 900;

}

.section-subtitle {
  font-family: Raleway;
  font-weight: 500;

}

@media (max-width: 700px) {
  .cards> :nth-child(n+3) {
    display: none;
  }
}


.footer {
  background: #EEE;
  height: 30vh;
}